/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25/09/2017, 10:37:41 PM
    Author     : JuanArevaloMerchan y Stefany Moron
*/
#idImagen{
    
}

#idTitulo{
    font-family: verdana ;
    font-size: 3.5rem;
    font-style: normal;
    color:#2573ec;
    text-align: center;
}

.textoBasico{
    font-family: verdana ;
    font-size: 3rem;
    margin-left:1vw;
    margin-right:1vw;
    color:#2573ec;
}
#idFondo{
  	background-image: url("/image/fondo.jpg");
        width: 100%;
        z-index: -1;
}

#idFondoIndex{
  	background-image: url("/image/fondo2.jpg");
        width: 100%;
        z-index: -1;
}

#idPanel{
   margin-top:8vw; 
}

#idPanelRegistro{
   margin-top:1vw; 
}